<div class="container mt-6">
    <form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Användarnamn</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com" formControlName="username">
            </div>
        </div>
    
        <div class="field">
            <label class="label">Lösenord</label>
            <div class="control">
                <input class="input" type="password" placeholder="********" formControlName="password">
            </div>
        </div>
    
        <button class="button is-primary" type="submit">Logga in</button>
    </form>
</div>