<div class="container mb-3" *ngFor="let day of daysOfTheWeek; let i=index">
    <app-day [day]="day">
        <div *ngFor="let row of getDayData(i+1)" class="person-row">
            <div class="name">
                <p>{{row.user.toUpperCase()}}</p>
            </div>
            <div class="icon-container">
                <div class="icon" [ngClass]="row.office ? 'has-text-success' : 'has-text-danger'">
                    <fa-icon [icon]="office" />
                </div>
                <div class="icon" [ngClass]="row.lunch ? 'has-text-success' : 'has-text-danger'">
                    <fa-icon [icon]="lunch" />
                </div>
                <div class="icon" [ngClass]="row.swim ? 'has-text-success' : 'has-text-danger'">
                    <fa-icon [icon]="swim" />
                </div>
                <div class="icon" [ngClass]="row.aw ? 'has-text-success' : 'has-text-danger'">
                    <fa-icon [icon]="aw" />
                </div>
            </div>
        </div>
    </app-day>
</div>